* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%
}

.bg-dark {
    color: rgb(243, 172, 228) !important;
}

.navbar-brand img {
    width: 250px;
    height: auto;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #666;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    min-height: 100%;
    background-image: url("./images/background.jpg");
    background-color: #666;
    background-size: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(134, 134, 134, 0.952);
}

.header_title a {
    text-decoration: none !important;
    width: 100%;
    padding-left: 2%;
    color: black;
    background-color: rgb(236, 236, 236);
    font-size: 60px;
}

.container1 {
    margin: 0;
    width: 100%;
}

.container-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 1%;
    height: 100%;
}

.container-content button {
    display: flex;
    justify-content: center;
    margin: 1%;
    width: 35%;
    font-size: 20px;
    /* background-color: rgb(110, 7, 7); */
    background-color: rgb(65, 65, 65);
}

.container-content button a {
    text-decoration: none;
    color: #fff5a5;
}

img {
    width: 100%;
}

.footer {
    left: 0;
    bottom: 0px;
    width: 100%;
    color: #fff5a5;
    background-color: #343a40;
    padding: 0.5%;
    border-top: 3px solid #5D6063;
    height: 60px;
}

.homepar {
    padding: 1% 3% 0.5% 3%;
    background-color: rgba(158, 158, 158, 0.952);
}

.footer a {
    text-decoration: underline !important;
    color: #fff5a5;
}

#handguns {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

#knives {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

#rifles {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

#apparel {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.displayItems {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border: 2px solid whitesmoke;
}